<div class="bs-docs-section">
  <div class="page-header">
    <h1>FormValidator.BS.Tips <small>Behavior.FormValidator.BS.Tips.js</small></h1>
  </div>

  <div class="bs-callout bs-callout-danger">
    <h4>Plugin dependency</h4>
    <p>Note: Be sure to include <code>thanx-components/form-validator.less</code> so that error states are styled correctly.</p>
  </div>


  <p>Adds a form validator that shows its messages in Bootstrap Tips.</p>
  <h3>Basic Usage</h3>

  <p>Works just like regular form validator.</p>

  <%= render layout: "codeblock" do %>
<form id="foo" data-behavior="FormValidator.BS.Tips" class="form-horizontal">

  <div class="form-group">
    <label class="col-lg-5 control-label">An example w/ an input group</label>
    <div class="input-group input-group-rounded col-lg-5">
      <input type="search" class="form-control" name="email" placeholder="validates email"
        data-validators="required validate-email" data-tip-offset="'x': 40, 'y': -2"
        value="<%= params[:email] %>">
        <span class="<%= @bootstrap_styles ? 'input-group-addon' : 'input-group-btn' %>">
          <% if @bootstrap_styles %>
            <span class="glyphicon glyphicon-search"></span>
          <% else %>
            <button type="submit" class="btn"><span class="fui-search"></span></button>
          <% end %>
        </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-5 control-label">this cannot be empty</label>
    <div class="col-lg-5"><input name="a" data-validators="required" class="form-control"></div>
  </div>
  <div class="form-group">
    <label class="col-lg-5 control-label">this must be an integer (-1,0,1,2,3, etc)</label>
    <div class="col-lg-5"><input name="b" data-validators="required validate-integer" class="form-control"></div>
  </div>
  <div class="form-group">
    <label class="col-lg-5 control-label">this must be numeric (0, 1.3, -5.2, 10, etc) </label>
    <div class="col-lg-5"><input name="c" data-validators="required validate-numeric" class="form-control"></div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-5 col-lg-5">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
  <% end %>


  <h3>Custom validation messages, custom tip positioning per field</h3>

  <p>Each form field can have a value for <code>data-tip-location</code> and <code>data-tip-offset</code>. Like
    the other <code>Form.Validator</code> classes, you can also override the default error messages with the
    title of the input if you enable the <code>useTitles</code> option.</p>

  <%= render layout: "codeblock" do %>
<form id="foo" data-behavior="FormValidator.BS.Tips" data-formvalidator-bs-tips-options="
  'useTitles': true
" class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-5 control-label">the tip below the input using <code>data-tip-location</code></label>
    <div class="col-lg-5"><input name="a" data-validators="required" class="form-control" data-tip-location="below"></div>
  </div>
  <div class="form-group">
    <label class="col-lg-5 control-label">the tip offset using <code>data-tip-offset</code> - can be an integer or an object with x/y values. The braces are optoinal (see source).</label>
    <div class="col-lg-5"><input name="b" data-validators="required validate-integer" class="form-control" data-tip-offset="'x':100, 'y':10"></div>
  </div>
  <div class="form-group">
    <label class="col-lg-5 control-label">Override the validation message with the <code>attribute</code>.</label>
    <div class="col-lg-5"><input name="c" data-validators="required" class="form-control" title="I feel so empty this way."></div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-5 col-lg-5">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
  <% end %>


    <h2>Behavior Options</h2>
    <p><label class="label label-danger">Note</label> These are only the options that <code>FormValidator.BS.Tips</code> ads <em>in addition to</em>
      those provided by <%= link_to "Behavior.FormValidator.Inline", sandbox_dir_file_path(section: 'JavaScript', dir: "Forms", file: "Behavior.FormValidator") %>.
    </p>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
         <tr>
           <th style="width: 100px;">Name</th>
           <th style="width: 50px;">type</th>
           <th style="width: 50px;">default</th>
           <th>description</th>
         </tr>
        </thead>
        <tbody>
          <tr>
            <td>tooltipOptions</td>
            <td>object</td>
            <td><code>{ location: 'right' }</code></td>
            <td>Options passed to <code>Bootstrap.Tooltip</code>. Note that you can specify a value for
              <code>tooltipOptions.inject.target</code> using a selector <em>relative to the element
              with the behavior</em> if you want to control where these end up in the DOM (useful in
              situations where the form hides and shows in, say, a tabbed UI.</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>
