<div class="bs-docs-section">
  <div class="page-header">
    <h1>Header Configurations</h1>
  </div>

  <div class="bs-callout bs-callout-info">
    <h4>Less Component Required</h4>
    <p>
       Be sure to include Behavior-UI's <code>chart.less</code> in your build.
    </p>
  </div>

  <div class="bs-callout bs-callout-danger">
    <h4>JavaScript Library Required</h4>
    <p>
       In addition to the chart files in Behavior-UI, you will also need the <a href="https://github.com/Behavior-UI/highstock-release">behavior-ui fork of HighStock</a>. Presently, only <code>highstock.src</code> is patched; that's all you need.
    </p>
  </div>

  <h3>Default Usage</h3>
  <p>Title, Subtitle, Legend.</p>

  <%= render layout: "codeblock", locals: { include_response: true} do %>
<div data-behavior="Chart.Stock ToSource" class="chart" data-chart-stock-options="
  'seriesType':'column',
  'stack': 'column',
  'url': '/sandbox/chart/three_lines'
" data-tosource-target="!.example-block .response"></div>
<% end %>

  <h3>No Title, Subtitle, or Legend</h3>

  <%= render layout: "codeblock", locals: { include_response: true} do %>
<div data-behavior="Chart.Stock ToSource" class="chart" data-chart-stock-options="
  'seriesType':'column',
  'stack': 'column',
  'showTitle': false,
  'showSubTitle': false,
  'showLegend': false,
  'url': '/sandbox/chart/three_lines'
" data-tosource-target="!.example-block .response"></div>
<% end %>

  <h3>Title Only</h3>
  <%= render layout: "codeblock", locals: { include_response: true} do %>
<div data-behavior="Chart.Stock ToSource" class="chart" data-chart-stock-options="
  'showTitle': true,
  'showSubTitle': false,
  'showLegend': false,
  'seriesType':'column',
  'stack': 'column',
  'url': '/sandbox/chart/three_lines'
" data-tosource-target="!.example-block .response"></div>
<% end %>

  <h3>Title and Subtitle Only</h3>
  <%= render layout: "codeblock", locals: { include_response: true} do %>
<div data-behavior="Chart.Stock ToSource" class="chart" data-chart-stock-options="
  'showTitle': true,
  'showSubTitle': true,
  'showLegend': false,
  'seriesType':'column',
  'stack': 'column',
  'url': '/sandbox/chart/three_lines'
" data-tosource-target="!.example-block .response"></div>
<% end %>

  <h3>Title and Legend Only</h3>
  <%= render layout: "codeblock", locals: { include_response: true} do %>
<div data-behavior="Chart.Stock ToSource" class="chart" data-chart-stock-options="
  'showTitle': true,
  'showSubTitle': false,
  'showLegend': true,
  'seriesType':'column',
  'stack': 'column',
  'url': '/sandbox/chart/three_lines'
" data-tosource-target="!.example-block .response"></div>
<% end %>

  <h3>Legend Only</h3>
  <%= render layout: "codeblock", locals: { include_response: true} do %>
<div data-behavior="Chart.Stock ToSource" class="chart" data-chart-stock-options="
  'showTitle': false,
  'showSubTitle': false,
  'showLegend': true,
  'seriesType':'column',
  'stack': 'column',
  'url': '/sandbox/chart/three_lines'
" data-tosource-target="!.example-block .response"></div>
<% end %>

</div>
